# -*- coding: utf-8 -*-
# vim: ft=yaml
---
# There are 4 possibles entries
#  - listen
#  - server
#  - servers
#  - sensor
#
# Each accept the following type:
#  - a string
#  - a list of string
#  - a list of dict
#

######################################################################################
# simple standalone configuration for a local server, sync with external ntp server
######################################################################################
# openntpd:
#   listen: '*'
#   servers: pool.ntp.org

######################################################################################
# more complexe configuration
######################################################################################
openntpd:
  additional_flags:
    - '-s'
  listen:
    - '*'
    - address: 192.168.1.55
      rtable: 1

  # single server:
  # server: 192.168.0.2

  # multiple servers:
  server:
    - address: 192.168.0.2
    - address: 192.168.0.3

  servers:
    - address: pool.ntp.org
      weight: 2

  sensor:
    - '*'
    - device: nmea0
      correction: 70000
      weight: 2
      refid: GPS
      stratum: 2
